# configurationfile for VIDEO
version = "1.0";

camera_info:
{
    #example camera config of a stereoendoscope
    left:
    {
        width = 640;
        height = 512;
        K = (534.195, 0, 300.45,
            0, 534.095, 250.37,
            0,       0,      0);
    };
    right:
    {
        width = 640;
        height = 512;
        K = (533.915, 0, 349.11,
            0, 533.800, 250.825,
            0,       0,      0);
    };
};
