# configurationfile for VIDEO
version = "1.0";

camera_info:
{
    #example camera config of a stereoendoscope
    left:
    {
        #You can also give a path to a yaml
#         yaml_path = "/path/to/yaml/left.yaml"
        width = 640;
        height = 512;
        K = (534.195, 0, 300.45,
            0, 534.095, 250.37,
            0,       0,      0);
    };
    right:
    {
#         yaml_path = "/path/to/yaml/right.yaml"
        width = 640;
        height = 512;
        K = (533.915, 0, 349.11,
            0, 533.800, 250.825,
            0,       0,      0);
    };
    left_to_right = 0.00588;
};
